@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 150px;
}

h1 {
  justify-items: center;
  font-size: 70px;
  font-family: Dancing Script, cursive;
  margin: 0 auto;
}

header {
  height: 125px;
  background-color: #a9def9;
  display: flex;
  align-items: center;
}

#searchbar {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 600px;
  height: 40px;
  border: solid black 2px;
  border-radius: 10px;
}

.result {
  display: flex;
  border: solid black 2px;
}

.poster {
  height: 300px;
}
