@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #69626d;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 125px;
  background-color: #faf8d4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

header #logo {
  width: 150px;
  margin-right: 10px;
}

header h1 {
  font-size: 70px;
  font-family: Dancing Script, cursive;
  margin: 0;
}

#searchbar {
  margin: 40px auto 0;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 700px;
  height: 40px;
  border: solid black 2px;
  border-radius: 10px;
}

.result {
  display: flex;
  border: solid black 2px;
  width: 70%;
  margin: 25px auto;
}

.poster {
  height: 300px;
}
